<mat-card class="movie-card">
    <mat-card-header>
        <mat-card-title>{{ movie.name }}</mat-card-title>
    </mat-card-header>
    <div class="img-container">
        <img mat-card-image src="{{ movie.image }}" alt="{{ movie.name }}">
    </div>
    <mat-card-content>
        <p>
            {{ movie.description }}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="openDialog()">
            <mat-icon aria-hidden="false">create</mat-icon>
        </button>
        <button mat-button (click)="onDelete(movie)">
            <mat-icon aria-hidden="false">delete</mat-icon>
        </button>
        <span class="spacer"></span>
        <div>
            <button mat-button *ngIf="!isFav()" (click)="addFav()">
                <mat-icon aria-hidden="false">favorite_border</mat-icon>
            </button>
            <button mat-button *ngIf="isFav()" (click)="removeFav()">
                <mat-icon aria-hidden="false">favorite</mat-icon>
            </button>
        </div>
    </mat-card-actions>
</mat-card>